.container {
    background-color: #f0f0f8;
    border-radius: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 6px 0px #dfdfdf;
}

.group {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    width: 230px;
    margin-top: 8px;
}

.input {
    position: relative;
    width:  100%;
    height: 30px;
    margin: 15px 0 15px 0px;
}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.button {
    background-color: #25549f;
    margin-top: 20px;
    height: 50px;
}


.modal {
    margin-top: 150px;
}

.modalBodyMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.backdrop {
    background-color: #000000;
}

.iconClose {
    background-color: tomato;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 25PX;
}

.iconTick {
    background-color: rgb(55, 165, 81);
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 25PX;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}